.footer {
  display: block;
  width: 100vw;
  min-height: 100px;
  padding-bottom: 40px;
  background-color: rgba(16,31,55, 0.9);

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
    vertical-align: baseline;
  }

  &__link {
    display: block;
    background-color: #fff;
    margin: 15px;
    border-radius: 50%;
    @include sprite($vk);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 60px;
    height: 60px;

    &:hover {
      background-color: #4D90FE;
    }

  }
}