.block {
  display: block;
  margin: 50px auto;
  width: 60%;
  padding: 2% 10%;
  background-color: #000;
  color: #fff;
  border-radius: 11px;


  h1{
    text-align: center;
    text-shadow: 2px 3px 5px #8400E9;
  }

  .btn {
    display: block;
    padding: 15px 50px;
    margin: 20px auto;
    border: none;
    border-radius: 40px;
    background-color: #8400E9;
    color: #ffffff;
    outline: none;

    &:hover{
      background-color: lighten(#8400E9, 13%);
    }
  }
}

.generator {
  display: block;
  max-width: 540px;
  margin: 0 auto;

  &-item{
    padding: 4px;
    text-align: center;

    #line-length,
    #number-password{
      margin-top: 10px;
      width: 100%;
    }
    &__input{

    }
  }
}

#out {
  display: block;
  max-width: 540px;
  min-width: 320px;
  margin: 20px auto 30px;


  p{
    display: block;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
    word-break: break-all;
    border-bottom: 1px solid #fff;

    &::selection {
      background-color: yellow;
      color: #000;
    }
  }
}