<footer class="footer">
    <div class="footer__block">
        <a href="" class="footer__link"><span class="visible-hidden">Vkontakte</span></a>
        <a href="" class="footer__link"><span class="visible-hidden">Vkontakte</span></a>
        <a href="" class="footer__link"><span class="visible-hidden">Vkontakte</span></a>
        <a href="" class="footer__link"><span class="visible-hidden">Vkontakte</span></a>
        <a href="" class="footer__link"><span class="visible-hidden">Vkontakte</span></a>
        <a href="" class="footer__link"><span class="visible-hidden">Vkontakte</span></a>
    </div>
</footer>