<section class="works">
    <h2 class="works__title title">my works</h2>
    <div class="works__list">
        <div class="works__item"></div>
        <div class="works__item"></div>
        <div class="works__item"></div>
        <div class="works__item"></div>
        <div class="works__item"></div>
        <div class="works__item"></div>
        <div class="works__item"></div>
        <div class="works__item"></div>
        <div class="works__item"></div>
        <div class="works__item"></div>
    </div>
</section>

